.sidebar p{
  margin: .5em 0;
  font-size: 0.8rem;
}

.sidebar h3{
  margin: 2em 0 .5em;
}

.sidebar--inner{
  position: fixed;
}

@media screen and (max-width: 768px){
  .sidebar--inner{
    position: relative !important;
  }
}
